<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Producciones Pomponio</title>
</head>
<body>
    <a href="/index">Home</a>
    <h1>Registrar guion</h1>
    <form action="#" th:action="@{/guiones}" th:object="${guion}" method="post">

        <p>Nombre: <input type="text" th:field="*{nombre}"/></p>
        <a>Genero:</a>
        <select th:field="*{genero}">
            <option th:value="Tragedia" th:text="Tragedia"></option>
            <option th:value="Comedia" th:text="Comedia"></option>
            <option th:value="Culebron" th:text="Culebron"></option>
            <option th:value="Fantasia" th:text="Fantasia"></option>
        </select>
        <p>Idea central: <input type="text" th:field="*{ideaCentral}"/></p>
        <a>Guionista:</a>
        <select th:field="*{idGuionista}">
            <option th:each="entry : ${guionistas}"
                    th:value="${entry.id}"
                    th:text="${entry.nombre}">
            </option>
        </select>
        <p><input type="submit" value="Guardar"/></p>
    </form>
</body>
</html>