<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Producciones Pomponio</title>
</head>
<body>

    <h1>Producciones Pomponio</h1>
    <div>
        <h3><a href="/formularioGuionista">Registrar guionista</a></h3>
        <h3><a href="/listaGuionistas">Lista guionistas</a></h3>
        <br>
        <h3><a href="/formularioGuion">Registrar guion</a></h3>
        <h3><a href="/listaGuiones">Lista guiones</a></h3>
        <h3><a href="/listaGuionesEnProduccion">Lista guiones en produccion</a></h3>
        <br>
        <h3><a href="/formularioActor">Registrar actor</a></h3>
        <h3><a href="/listaActores">Lista actores</a></h3>
        <h3><a href="/tablaActores">Tabla actores</a></h3>
    </div>
</body>
</html>